<template name="App_leaderboard">
  <div style="padding-top: 20px">
    <span>
      after:
      <img src="{{flagImageUrl lastMatch.team1}}" style="width: 20px; height: 20px;"/>
      {{lastMatchTeamsAndScore}}
      <img src="{{flagImageUrl lastMatch.team2}}" style="width: 20px; height: 20px;"/>
    </span>
    <!-- <td style="background-color: #FF9999">0</td> -->
    <!-- <td style="background-color: #FFFF99">+1</td> -->
    <!-- <td style="background-color: #66FF99">+3</td> -->
    <!-- <td style="background-color: #C8C8C8">-</td> -->
    <table style="margin-top: 20px">
      {{#each user in users}}
      <tr>
        <td>{{user.position}}</td>
        <td>{{user.name}}</td>
        <td>{{user.score}}</td>
        <td style="{{deltaStyle user.delta}}">{{user.delta}}</td>
      </tr>
      {{/each}}
    </table>
  </div>
</template>
