<template name="App_leaderboard">
  <table style="padding-top: 50px">
    <tr>
      <td>1</td>
      <td>alexandra.emshanova@gmail.com</td>
      <td>6</td>
    </tr>
    <tr>
      <td>2</td>
      <td>dmitry.kouznetsov@gmail.com</td>
      <td>4</td>
    </tr>
    <tr>
      <td>3</td>
      <td>ivan.lapshin@fastdev.se</td>
      <td>3</td>
    </tr>
    <tr>
      <td>4</td>
      <td>alexey.emshanov@gmail.com</td>
      <td>2</td>
    </tr>
    <tr>
      <td>5</td>
      <td>shteynderberg182@gmail.com</td>
      <td>1</td>
    </tr>
  </table>
</template>
