<template name="App_matches">
  <div style="padding-top: 50px">
    {{#if placingBets}}
      <button class="js-save-bets">Save my bets</button>
    {{else}}
      {{#if showBets}}
        <a href="#" class="js-start-placing-bets">Change bets</a> | <a href="#" class="js-hide-my-bets">Hide my bets</a>
      {{else}}
        <a href="#" class="js-show-my-bets">Show my bets</a>
      {{/if}}
    {{/if}}
    <table>
      {{#each match in matches}}
        {{#with match}}
          <tr>
            <td>{{number}}</td>
            <td>
              <img src="{{flagImageUrl team1}}" style="width: 20px; height: 20px;" />
            </td>
            <td>{{team1}}</td>
            <td>{{result match team1}} - {{result match team2}}</td>
            <td>{{team2}}</td>
            <td><img src="{{flagImageUrl team2}}" style="width: 20px; height: 20px;" />
            </td>
            {{#if showBets}}
            <td>my bet:</td>
            <td>
                <img src="{{flagImageUrl team1}}" style="width: 20px; height: 20px;" />
            </td>
            <td>{{team1}}</td>
            <td>
                <input
                  style="width: 30px"
                  class="js-score"
                  type="number" min="0" pattern="\d*"
                  id="match{{number}}:{{team1}}"
                  value="{{score match team1}}"
                  disabled="{{disabledScore match}}" />
                <input
                  style="width: 30px"
                  class="js-score"
                  type="number" min="0" pattern="\d*"
                  id="match{{number}}:{{team2}}"
                  value="{{score match team2}}"
                  disabled="{{disabledScore match}}" />
            </td>
            <td>{{team2}}</td>
            <td>
              <img src="{{flagImageUrl team2}}" style="width: 20px; height: 20px;" />
            </td>
            {{/if}}
          </tr>
        {{/with}}
      {{/each}}
    </table>
    {{#if placingBets}}
      <button class="js-save-bets">Save my bets</button>
    {{else}}
      {{#if showBets}}
        <a href="#" class="js-start-placing-bets">Change bets</a> | <a href="#" class="js-hide-my-bets">Hide my bets</a>
      {{else}}
        <a href="#" class="js-show-my-bets">Show my bets</a>
      {{/if}}
    {{/if}}
  </div>
</template>
